.Rproj.user
.Rhistory
.RData
vignettes/a-quick-guide_files
vignettes/b-user-guide_files
vignettes/c-algorithm-step-through_files
src/ooacquire.dll
acq-irrad*
inst-not/fluence*
inst-not/irrad*
inst-not/series*

inst-not/yoct-relay-tests/

inst-not/acq-Tfr-2024-08-01/
